body {
	font: 13px/1.6em "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	height: 100%
	width: 100%;
	padding: 0;
	margin: 0;
}

.appContainer {
	height: 100%;
	width: 100%;
	max-height: 500px;
	color: white;
	background-color: #076324;
	display: inline-flex;
}
.appContainer #headlineContainer {
	height: 100%;
	width: 20%;
	font-size: 300%;
	line-height: 140%;
	padding: 1%;
}

.appContainer #headlineContainer #hlEmbeddedTitle {
	color: #ab3ab7;
}

.itemsContentBox {
	padding-top: 5%;
	padding-left: 3%;
	height: 100%;
	width: 60%;
	align-items: center;
	float: right;
}

.itemsContentBox p {
	font-size: 200%;
	line-height: 100%;
}

.itemsContentBox img {
	padding: 2%;
	height: auto;
	width: auto;
	max-height: 150px;
	float: left;
}

.itemsContentBox #equationConatiner {
	width: 100%;
	display: inline-block;
	padding-left: 10%;
}

.itemsContentBox #equationText h1 {
	height: 40%;
	width: 55%;
	max-height: 150px;
	position: relative;
	font-size: 700%;
	line-height: 100%;
	float: left;
}

.imageContainer {
	height: 100%;
	width: 10%;
	float: right;
	padding: 2%;
	padding-top: 4%;
}
.imageContainer img {
	height: auto;
	width: auto;
	max-height: 90px;
	padding: 1%;
}
.imageContainer ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
}
.imageContainer li {
	height: 100%;
	width: 100%;
	padding: 2%;

}

@media screen and (max-width: 1285px) {
	.appContainer {
		height: auto;
		max-height: 1200px;
		width: auto;
		max-width: 1024px;
		flex-direction: column;
		padding-right: 2%;
	}
	.appContainer #headlineContainer {
		width: 90%;
		height: 20%;
		padding-bottom: none;
		padding-right: 5%;
	}
	.itemsContentBox {
		width: 80%;
		height: 70%;
		padding-top: 1%;
	}
	.itemsContentBox #equationText h1 {
		font-size: 600%;
		padding-top: 5%;
	}
	.itemsContentBox #equationConatiner #eqationIcon img {
		padding-top: 5%;
	}
	.imageContainer {
		height: 10%;
		width: 50%;
		align-items: center;
		padding-left: 20%;
	}
	.imageContainer ul {
		flex-direction: row;
		align-items: center;
	}
}

@media screen and (max-width: 990px) {
	.itemsContentBox #equationText h1 {
		font-size: 500%;
		padding-top: 3%;
	}
	.imageContainer{
		padding-left: 0%;
		width: 40%;
	}
	.imageContainer li {
		padding: 0%;
	}
	.imageContainer ul {
		padding-left: 0%;
	}
	.imageContainer img {
		height: auto;
		width: auto;
		max-height: 80px;
		padding: 1%;
	}

}

